{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block active_tab %}
<div class="navbar-collapse collapse show" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('view_bp.departments') }}">DEPARTMENTS
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_bp.employees') }}">EMPLOYEES</a>
        </li>
</div>
{% endblock %}

{% block content %}
<div>
    <form action="/add_dept/" method="POST" class="form-inline" role="form">
        <button type="submit" class="btn btn-outline-info btn-sm btn-block">register new department</button>
    </form>
</div>
<div id="table container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">EMPLOYEES</th>
                <th scope="col">AVERAGE SALARY</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for dept in all_depts|sort(attribute='name') %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ dept.name }}</td>
                <td>{{ get_dept_info(dept.id).staff }}</td>
                <td>{{ (get_dept_info(dept.id).avg_salary)|round(2) }}</td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <form action="/edit_dept/{{ dept.id }}" method="POST" class="form-inline" role="form">
                            <button type="submit" class="btn btn-outline-warning btn-sm">edit</button>
                        </form>
                        <form action="/delete_dept/{{ dept.id }}" method="POST" class="form-inline" role="form">
                            <button type="submit" class="btn btn-outline-danger btn-sm">delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}