{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block active_tab %}
<div class="navbar-collapse collapse show" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_bp.departments') }}">DEPARTMENTS</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('view_bp.employees') }}">EMPLOYEES
                <span class="sr-only">(current)</span>
            </a>
        </li>
</div>
{% endblock %}

{% block content %}
<div>
    <form action="/add_employee/" method="POST" class="form-inline" role="form">
        <button type="submit" class="btn btn-outline-info btn-sm btn-block">register new employee</button>
    </form>
</div>
<div id="table container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FIRST NAME</th>
                <th scope="col">SECOND NAME</th>
                <th scope="col">DATE OF BIRTH</th>
                <th scope="col">DEPARTMENT</th>
                <th scope="col">SALARY</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="3">
                    <form action="{{ url_for('view_bp.employees')}}" method="POST" class="form-inline my-2 my-lg-0"
                        role="form">
                        <input class="form-control" type="text" name="birthday" placeholder="YYYY-MM-DD/YYYY-MM-DD">
                        {{ form.dept_id(class_="form-control") }}
                <td><button type="submit" class="btn btn-outline-secondary">FILTER</button></td>
                </td>
                </form>
            </tr>
            {% for employee in all_staff|sort(attribute='second_name') %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.second_name }}</td>
                <td>{{ employee.birth_date }}</td>
                <td>{{ employee.dept.name }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <form action="/edit_employee/{{ employee.id }}" method="POST" class="form-inline" role="form">
                            <button type="submit" class="btn btn-outline-warning btn-sm">edit</button>
                        </form>
                        <form action="/delete_employee/{{ employee.id }}" method="POST" class="form-inline" role="form">
                            <button type="submit" class="btn btn-outline-danger btn-sm">delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}