{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block active_tab %}
<div class="navbar-collapse collapse show" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_bp.departments') }}">DEPARTMENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_bp.employees') }}">EMPLOYEES</a>
        </li>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <fieldset>
                    <form action="{{ action }}" method="post" class="form" role="form">
                        <div class="form-group">
                            <h2>{{ title }}</h2>
                            <div class="form-group">
                                {{ wtf.quick_form(form, button_map={"submit":"btn btn-primary"}) }}
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}